[submodule "modules/util"]
	path = modules/util
	url = https://github.com/catsop/util.git
[submodule "modules/signals"]
	path = modules/signals
	url = https://github.com/funkey/signals.git
[submodule "modules/pipeline"]
	path = modules/pipeline
	url = https://github.com/funkey/pipeline.git
[submodule "modules/imageprocessing"]
	path = modules/imageprocessing
	url = https://github.com/catsop/imageprocessing.git
[submodule "cmake"]
	path = cmake
	url = https://github.com/catsop/cmake
[submodule "modules/solvers"]
	path = modules/solvers
	url = https://github.com/funkey/solvers
[submodule "modules/cohear"]
	path = modules/cohear
	url = https://github.com/funkey/cohear
[submodule "modules/scopegraph"]
	path = modules/scopegraph
	url = https://github.com/funkey/scopegraph
[submodule "modules/sg_gui"]
	path = modules/sg_gui
	url = https://github.com/funkey/sg_gui
[submodule "modules/region_features"]
	path = modules/region_features
	url = https://github.com/funkey/region_features
